body{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(110, 110, 110), rgb(199, 128, 128));
    background-image: url('/static/img/news.jpg');
    background-repeat: no-repeat;
    background-size: contain;
   background-attachment: fixed;
    
    
}
#logo{
    width: 300px;
    height: 155px;
}


#infotop{
    position: absolute;
    display: inline-flex;
    background: linear-gradient(to right, rgb(73, 196, 226), rgb(116, 240, 153), rgb(218, 215, 56));
    top: 50px;
    margin-top: 20px;
    right: 3%;
    border-radius: 35px;
    
    
}
.detail-section{
    display: inline-flex;
    margin: 10px;
    background-color: rgb(247, 151, 26);
    border-radius: 20px;
}
#inputbar{
    width: 100vw;
   
  
}
#barcont{
    
    margin-top: 250px;
    margin-bottom: 0px;
    margin-right: 100px;
    width: 80vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
   
    
}
#barcont2{
    
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 100px;
    width: 80vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
   
}

.movediv{
    transition-duration: 2s;
    transform: translateY(-200px);
    margin-top: 100px;
    transition-property: all;
   
}
#cardstr{
    margin-top: 40px;
   
}
#bar2{
    margin-top: 10px;
    width: 60vw;
}

#searchbar{
 width: 70vw;
 height: 33px;
 margin: auto;
}
.move{
    position: relative;
    transition-duration: 1.7s;
    margin-bottom: 200;
    transform: translateY(-225px);
    z-index: 999;
    transition-property: all;
    width: 50vw;
}
.bg{
    background: rgb(180, 134, 144);
}

.dropdown-menu{
    
    width: 312px;
    
    background-color: rgb(216, 216, 216);
}
#btnbtn{
    margin: auto;

    width: 90px;
   

}
#input-bar-btn{
    width:200px;
    margin-left: 10px;git 
}

#input-search-btn{
    margin-left: 10px;
    display: inline-block;
}

  @media (max-width:995px) {
    #infotop{
      display: none;
    }
  }
  @media (max-width: 400px){
    #searchbar{
        position: relative;
        width: 50vw;
        margin: auto;
        mar

    }
    
  }

  .wrong{
      background-color: rgba(223, 137, 137, 0.74);
      opacity: 75%;
      font-weight: 500;
      font-size: 2rem;
  }


.container-fuild{
    max-width: 100%;
}